<div class="content df fxdc aic">
  <div>
    <h2 class="m-0 p-0">Контакты для связи</h2>
  </div>
  <div class="df fxdr aic">
    <div class="df fxdc aic p-lr-14 customBtn link">
      <a href="https://vk.com/abbgamer">
        <img
          src="https://cdn-icons-png.flaticon.com/512/145/145813.png" width="30" height="30">
        <span>Вконтакте</span>
      </a>
    </div>
    <div class="df fxdc aic p-lr-14 customBtn">
      <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" width="24" height="24">
      <span>Почта</span>
    </div>
    <div class="df fxdc aic p-lr-14 customBtn">
      <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" width="24" height="24">
      <span>YouTube</span>
    </div>
    <div class="df fxdc aic p-lr-14 customBtn">
      <img src="https://cdn-icons-png.flaticon.com/512/2111/2111644.png" width="24" height="24">
      <span>Telegram</span>
    </div>
    <div class="df fxdc aic p-lr-14 customBtn">
      <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="24" height="24">
      <span>Instagram</span>
    </div>
    <div class="df fxdc aic p-lr-14 customBtn">
      <img src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png" width="24" height="24">
      <span>GitHub</span>
    </div>
  </div>
</div>



