<div class="df fxdc aic">
  <div class="p-auto">
    <img class="img-ava" src="../../../assets/img/avatar.png" alt="avatar" width="300" height="300"/>
  </div>
  <div class="df fxdc aic mt-8">
    <div>
      <h2>Гребнев Антон Александрович</h2>
    </div>
    <div class="m-0">
      <h2>31.05.1998</h2>
    </div>
    <div>
      <div>
        <span class="bold">2016 год</span> - Закончил школу поступил в ИКИТ
      </div>
      <div>
        <span class="bold">2021 год</span> - Закончил ИКИТ поступил в магистратуру
      </div>
    </div>
  </div>
</div>

<div class="df fxdc aic">
  <div>
    <h2 class="m-0 p-0">Контакты для связи</h2>
  </div>
  <div class="df fxdr jcsb">
    <div>
      <div class="df fxdc aic  customBtn link">
        <img
          src="https://cdn-icons-png.flaticon.com/512/145/145813.png" width="24" height="24">
        <span>Вконтакте</span>
      </div>
      <div class="df fxdc aic  customBtn">
        <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" width="24" height="24">
        <span>Почта</span>
      </div>
    </div>
    <div>
      <div class="df fxdc aic  customBtn">
        <img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" width="24" height="24">
        <span>YouTube</span>
      </div>
      <div class="df fxdc aic  customBtn">
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111644.png" width="24" height="24">
        <span>Telegram</span>
      </div>
    </div>

    <div>
      <div class="df fxdc aic  customBtn">
        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="24" height="24">
        <span>Instagram</span>
      </div>
      <div class="df fxdc aic  customBtn">
        <img src="https://cdn-icons-png.flaticon.com/512/1051/1051326.png" width="24" height="24">
        <span>GitHub</span>
      </div>
    </div>


  </div>
</div>




