<div class="content df fxdc aic">
  <div class="p-auto">
    <img src="../../../assets/img/avatar.png" alt="avatar" width="300" height="300"/>
  </div>
  <div class="df fxdc aic mt-8">
    <div>
      <h2>Гребнев Антон Александрович</h2>
    </div>
    <div class="m-0">
      <h2>31.05.1998</h2>
    </div>
    <div>
      <div>
        <span class="bold">2016 год</span> - Закончил школу поступил в ИКИТ
      </div>
      <div>
        <span class="bold">2021 год</span> - Закончил ИКИТ поступил в магистратуру
      </div>
    </div>
  </div>
</div>
