<div class="content df jcsb">
  <div class="df aic">
    <div>
      <mat-icon class="material-symbols-outlined">
        savings
      </mat-icon>
    </div>
    <div>
      <button mat-flat-button (click)="navigateTo('')">ДЕНЬГИ И ПОКУПКИ</button>
    </div>
  </div>
  <div>
    <button mat-flat-button (click)="navigateTo('')">ГЛАВНАЯ</button>
    <button mat-flat-button (click)="navigateTo('about')">ОБ АВТОРЕ</button>
    <button mat-flat-button>РАБОТЫ</button>
    <button mat-flat-button>ПРОЦЕСС</button>
    <button mat-flat-button (click)="navigateTo('contacts')">КОНТАКТЫ</button>
  </div>
</div>

<router-outlet></router-outlet>
